
body,html{
	height: 100%;
}

body{
	margin: 0;
	text-align: center;
}

ul{
	list-style:none;
	padding: 0;
	margin: 0;
}

.container{
	width: 480px;
	background: url(../img/bg.jpg) repeat-y;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.container .list{
	margin: 20% auto 0;
	width: 200px;
}

.container .list li{
	margin-bottom: 10px;
	height: 80px;
	line-height: 80px;
	color: #FFF;
	background: #F00;
	font-size: 30px;
	cursor: pointer;
}

.container .title{
	background: url(../img/logo.png);
	width: 428px;
	height: 104px;
	margin: 20% auto 0;
}

.container .loading{
	background: url(../img/loading1.png);
	width: 192px;
	height: 41px;
	margin: 0 auto;
}

.container .player{
	width: 98px;
	height:122px;
	background: url(../img/me.png);
	position: absolute;
	bottom: 0;
	left: 191px;
}
.container .bullet{
	width: 7px;
	height: 18px;
	background: url(../img/bullet.png);
	position: absolute;
	z-index: 9999;
}

.container .bullet_die{
	width: 40px;
	height: 40px;
	background: url(../img/die1.png));
	position: absolute;
	
}

.container .plane1{
	width: 59px;
	height: 36px;
	position: absolute;
	background: url(../img/plane1.png);
}

.container .plane2{
	width: 70px;
	height: 92px;
	position: absolute;
	background: url(../img/plane2.png);
}

.container .plane3{
	width: 165px;
	height: 256px;
	position: absolute;
	background: url(../img/plane3.png);
}

.container .score{
	width: 100px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	top: 0;
	right: 0;
	background: red;
	color: #FFF;
	display:none;
}
